.error-block {
  display: flex;
  justify-content: center;
  color: #b11a04;
  font-family: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;
  background-color: rgba(177, 26, 4, 0.2);
  margin: 15px 2em 0 2em;
  padding: 0.8em;
}

.error-message {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 13px;
}

.error-message svg {
  fill: #b11a04;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 10px;
}

.success-block {
  display: flex;
  justify-content: center;
  color: #1f61a0;
  font-family: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;
  background-color: rgba(31, 97, 160, 0.2);
  margin: 15px 2em 0 2em;
  padding: 0.8em;
}

.success-message {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 13px;
}

.success-message svg {
  fill: #1f61a0;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 10px;
}


.head-col {
  color: #666;
}

.MuiTableRow-root:empty {
  display: none;
}

.table-wrapper {
  font-family: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;
  font-size: 13px;
  /*background-color: #f6f7f8;*/
}

.MTableHeader-header-6 {
  /*background-color: #f6f7f8 !important;*/
}

.table-wrapper td {
  line-height: inherit;
}

.MuiPaper-root {
  /*background-color: unset !important;*/
}

.MuiPaper-root > div > div:first-child {
  display: none;
}

.MuiTableCell-root {
  padding: 3px 9px !important;
}

.MuiTableCell-head {
  text-transform: lowercase;
}

.MuiTableCell-footer {
  padding: 10px !important;
  background-color: white;
  border-bottom: unset !important;
}

.MuiTableCell-footer .MuiTablePagination-toolbar {
  min-height: 32px;
  height: 32px;
}

.MuiTableCell-footer .MuiIconButton-root:hover {
  background-color: unset;
}

.MuiTypography-root.MuiTypography-caption,
.MuiTablePagination-select.MuiInputBase-input {
  font-feature-settings: normal;
  font-variant-caps: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #777;
  font-family: Consolas, Inconsolata, "Droid Sans Mono", Monaco, monospace;
}


