.sql-editor-handle-wrapper div {
  z-index: 9;
}

.sql-editor-content {
  height: 100%;
  position: relative;
  z-index: 8;
  box-shadow: 0 0 8px rgb(0 0 0 / 15%);
}

.header {
  cursor: default;
  display: flex;
  height: 34px;
  line-height: 14px;
  padding: 8px 8px 5px;
  position: relative;
  user-select: none;
  box-sizing: unset;
}

.header-title {
  flex: 1 1;
  font-weight: bold;
  overflow-x: hidden;
  padding: 10px 0 10px 10px;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  white-space: nowrap;
  font-size: 14px;
  font-family: system, -apple-system, 'San Francisco', '.SFNSDisplay-Regular', 'Segoe UI', Segoe, 'Segoe WP', 'Helvetica Neue', helvetica, 'Lucida Grande', arial, sans-serif;
}

.close-icon {
  cursor: pointer;
  font-size: 18px;
  margin: -7px -8px -6px 0;
  padding: 18px 16px 15px 12px;
  background: 0;
  border: 0;
  line-height: 14px;
}

.sql-editor-container {
  border-top: 1px solid #d6d6d6;
}

/* editor */
.space {
  content: "";
  height: 8px;
  width: 42px;
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
}

.ace_gutter {
  /*width: 42px !important;*/
}

.ace_gutter-layer {
  /*border-right: 1px solid #ddd;*/
  background-color: #f7f7f7;
  color: #666;
  /*width: 42px !important;*/
}

.ace_gutter-cell {
  /*padding: 0 3px 0 5px;*/
}

.ace_editor,
.ace_scroller,
.ace_content {
  /*line-height: inherit !important;*/
}

/*.ace_scroller {*/
/*  left: 42px !important;*/
/*}*/

.ace_content {
  /*font-family: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;*/
  /*font-size: 13px;*/
}

.docExplorerResizer {
  display: none;
}

.sql-editor-loader {
  width: unset !important;
}


