.wrapper {
    display: flex;
    max-width: 100vw;
    overflow: hidden;
}

.sql-editor {
    height: 100%;
}

.sql-editor > * {
    width: 100%;
}

.thead {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f7f7f7;
    color: #666;
}

.table {
    font-size: 12px;
}

.doc-explorer-title-bar,
.topBar {
    box-sizing: unset;
}


.variable-editor-title {
    bottom: 0px;
    text-align: center;
    background: none;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.graphiql-explorer-actions {
    margin: 4px 0 0 -8px!important;
    width: calc(100% + 16px)!important;
    padding: 10px!important;
}

.graphiql-explorer-actions > span {
    font-variant-caps: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #777;
}

.graphiql-explorer-actions select {
    font-variant-caps: normal;
    font-weight: 400;
    border: 1px solid #cbd5e1;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 4px;
    margin-left: 8px;
    margin-right: 8px;
    height: 32px;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 1px 2px 0 rgb(0 0 0 / 5%);
    color: #777;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%2364748b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}
